<a href="https://dc.elvismao.com" aria-label="Join Discord" target="_blank">
    <div class="discord-join">
        <img src="/static/img/discord.svg" class="discord-float" alt="" />
        <img src="/static/img/discord.svg" class="discord-float" alt="" />
        <img src="/static/img/discord.svg" class="discord-float" alt="" />

        <h2>遇到問題嗎？</h2>
        <p>歡迎加入 Discord 與我們一起討論。</p>
    </div>
</a>
<div class="recent"></div>
<div class="aside-tags">
    <label for="hideTags" class="hideTagsLabel"></label>
    <h2>標籤</h2>
</div>
<div id="time">
    <h2>毛哥EM資訊密技 已上線</h2>
    <p>3 年</p>
</div>
