<a href="https://dc.elvismao.com" aria-label="Join Discord" target="_blank">
	<div class="discord-join">
		<img src="/static/img/discord.svg" class="discord-float" alt="" />
		<img src="/static/img/discord.svg" class="discord-float" alt="" />
		<img src="/static/img/discord.svg" class="discord-float" alt="" />

		<h2>遇到問題嗎？</h2>
		<p>歡迎加入 Discord 與我們一起討論。</p>
	</div>
</a>
<a href="https://elvismao.com/zh-Hant/hmmm?f=emtech" aria-label="交個朋友" target="_blank">
	<div class="hmmm-join">
		<h2>交個朋友！</h2>
		<p>歡迎留下你的電子郵件，<br />每月分享近況和免費好東西。</p>
	</div>
</a>
<a href="https://"></a>
<ins class="adsbygoogle" style="display: block" data-ad-client="ca-pub-9975357988525791" data-ad-slot="9160601962" data-ad-format="auto" data-full-width-responsive="true"></ins>
<div class="recent"></div>
<div class="aside-tags">
	<label for="hideTags" class="hideTagsLabel"></label>
	<h2>標籤</h2>
</div>
<div id="time">
	<h2>毛哥EM資訊密技 已上線</h2>
	<p>3 年</p>
</div>
