<header>
    <div id="header-playground">
        <div class="header-title">
            <h1>毛哥EM<span>資訊密技</span></h1>
        </div>
    </div>
    <div class="header-right">
        <div class="header-categories">
            <a href="/category/軟體分享" class="header-categories-item"
                >軟體分享</a
            ><a href="/tag/CSS" class="header-categories-item">CSS</a
            ><a href="/tag/網棧" class="header-categories-item">網棧</a
            ><a href="/tag/GitHub Actions" class="header-categories-item"
                >GitHub Actions</a
            >
        </div>
        <a href="https://zeabur.com?referralCode=Edit-Mr" aria-label="廣告宣傳"
            ><div class="header-info"></div
        ></a>
        <a href="">
            <div class="header-newPost">
                <h2>最新文章</h2>
                <img
                    src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                    alt=""
                />
                <div class="header-newPost-hover">
                    <h3></h3>
                </div></div
        ></a>
    </div>
</header>
<main>
    <section>
        <div class="categories">
            <div class="categories-left" onclick="categoriesMove(-1)"></div>
            <div id="categories"></div>
            <div class="categories-right" onclick="categoriesMove(1)"></div>
        </div>
        <h2 class="categories-title"></h2>
        <div id="posts"></div>
        <div class="more-post"></div>
    </section>
    <aside>
        {{about}}
        <div class="sticky">{{aside}}</div>
    </aside>
</main>
