<nav>
    <a href="/" class="title">
        <img src="/static/img/logo.svg" alt="" />
        毛哥EM資訊密技
    </a>
    <!-- <ul>
        <li><a href="/p">文章</a></li>
        <li><a href="/series">專欄</a></li>
        <li><a href="/about">關於</a></li>
    </ul> -->
    <div class="right">
        <a href="/random" class="random" aria-label="隨機文章"
            ><img src="/static/img/dice.svg" alt="隨機文章"
        /></a>
        <a
            href="https://github.com/Edit-Mr/emtech"
            target="_blank"
            aria-label="GitHub"
            ><img src="/static/img/github.svg" alt="GitHub"
        /></a>
        <a
            href="https://www.instagram.com/emtech.cc"
            target="_blank"
            aria-label="Instagram"
            ><img src="/static/img/instagram.svg" alt="Instagram"
        /></a>
        <label for="search-toggle"
            ><img src="/static/img/search.svg" alt="Search"
        /></label>
    </div>
</nav>

<input type="checkbox" id="search-toggle" />
<div class="search-page">
    <div class="search-container">
        <h2>搜尋</h2>
        <input
            type="search"
            id="search"
            placeholder="輸入一個或多個關鍵字來搜尋"
        />
        <div class="search-results"></div>
        <div class="google">
            找不到你要的文章？試試 <a href="https://google.com">Google</a> 吧！
        </div>
        <label for="search-toggle"
            ><img src="/static/img/circle-x.svg" alt="back" class="back"
        /></label>
    </div>
</div>
