<div class="post" data-id="{{postID}}">
    <header>
        <div class="post-header">
            <div class="header-tags">{{headerCategories}} {{headerTags}}</div>
            <div class="title-box">
                <h1>{{title}}</h1>
            </div>
            <div class="post-info">
                <div class="meta">
                    <img src="/static/img/doc.svg" alt="" /><span
                        >{{length}}</span
                    >
                </div>
                <div class="meta">
                    <img src="/static/img/clock.svg" alt="" /><span
                        >{{readingTime}}</span
                    >
                </div>
                <div class="meta">
                    <img src="/static/img/date.svg" alt="" /><span
                        >{{date}}</span
                    >
                </div>
            </div>
            <img
                src="{{thumbnail}}"
                class="post-thumbnail"
                alt=""
                style="background: {{colors}};"
            />
        </div>
    </header>
    <main>
        <section class="post-container">
            {{tldr}}
            <div class="post-content">
                {{content}}
                <div class="author-container">
                    <img
                        src="/static/img/EMprofile.png"
                        alt=""
                        class="author-avatar"
                    />
                    <h3>毛哥EM</h3>
                    <div class="author-social">
                        <a
                            href="https://github.com/Edit-Mr/"
                            target="_blank"
                            aria-label="GitHub"
                            ><img src="/static/img/github-uwu.svg" alt="" /></a
                        ><a
                            href="https://www.instagram.com/elvisdragonmao/"
                            aria-label="Instagram"
                            target="_blank"
                            ><img src="/static/img/instagram.svg" alt=""
                        /></a>
                    </div>
                    <p>一位喜歡把簡單的事，做得不簡單的高三生。</p>
                    <div class="author-copyright">
                        本文為原創文章，採 CC BY
                        授權，轉載請註明來自毛哥EM資訊密技。
                    </div>
                </div>
                <div class="post-tags">標籤：{{postTags}}</div>
            </div>
        </section>
        <aside>
            {{about}}
            <div class="sticky">
                <div class="share">
                    <div>分享</div>
                    <a
                        href="https://www.facebook.com/sharer.php?u=https://emtech.cc/p/{{postID}}&t={{title}}"
                        target="_blank"
                        rel="noopener"
                        aria-label="Facebook"
                        ><img src="/static/img/facebook.svg" alt="" /></a
                    ><a
                        href="https://threads.net/intent/post?text={{title}}%0Ahttps://emtech.cc/p/{{postID}}"
                        target="_blank"
                        rel="noopener"
                        aria-label="Threads"
                        ><img src="/static/img/threads.svg" alt="" /></a
                    ><a
                        href="https://x.com/intent/tweet?text={{title}}&url=https://emtech.cc/p/{{postID}}&tw_p=tweetbutton"
                        target="_blank"
                        rel="noopener"
                        aria-label="Twitter"
                        ><img src="/static/img/x.svg" alt="" /></a
                    ><img
                        src="/static/img/link.svg"
                        alt=""
                        onclick="navigator.clipboard.writeText(window.location.href).then(() => { 
                            const img = this;
                            img.src = '/static/img/check.svg';
                            setTimeout(() => {
                                img.src = '/static/img/link.svg';
                            }, 3000);
                        })"
                        title="複製連結"
                    /><img
                    src="/static/img/share.svg"
                    alt=""
                    onclick="navigator.share({
                        title: '{{title}}',
                        text: '{{title}}',
                        url: window.location.href
                    })"
                    title="分享"
                />
                </div>
                <div class="toc">
                    <h2>目錄</h2>
                </div>
                {{aside}}
            </div>
        </aside>
        <div class="related-posts">
            <h2>本系列其他文章</h2>
            <div></div>
        </div>
    </main>
    <h2 class="continue">繼續往下閱讀...</h2>
    <div class="next-post"></div>
</div>
