*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* For Firefox */
* {
    scrollbar-width: thin; /* Makes the scrollbar thin */
    scrollbar-color: var(--dark-purple) transparent; /* Custom color */
    /* animation-duration: 4s!important; */
}

:root {
    --dark-purple: #8b9bcc;
    --light-purple: #dae1f8;
    --blue: #5f87ff;
    --black: #363636;
    --background-color: #f2f4f8;
    --white: #f6f9ff;
    --border: solid 1px var(--light-purple);
    --border-radius: 1.875rem;
    --max-width: 1200px;
    --dark-filter: brightness(0) invert(91%) sepia(5%) saturate(1421%)
        hue-rotate(194deg) brightness(99%) contrast(96%);
}
html {
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
body {
    font-family:
        "GenYoGothic TW",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    background-color: var(--background-color);
    color: var(--black);
}

code:not(.hljs) {
    font-weight: bold;
    /* border: 1px solid #0000001a; */
    background-color: #f1f5fb;
    border-radius: 0.3rem;
    font-size: 0.95em;
    padding: 0.3rem;
}

.displayPost .home-page {
    display: none;
}

.transition {
    position: fixed;
    display: none;
    background-color: #fff;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.transition::after {
    transition: opacity 0.3s;
}
.transition.belive::after {
    content: "Patience is key in life...";
    position: absolute;
    bottom: -2rem;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 1;
}
.smooth {
    transition: all 0.5s ease;
}
.centered {
    top: 50% !important;
    left: 50% !important;
}
.toHome .home-page,
.toPost .home-page {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.toPost footer {
    display: none;
}
.toHome .home-page {
    position: fixed;
    animation: slideIn 0.5s forwards ease-in-out;
}
@keyframes slideIn {
    from {
        filter: brightness(0);
        transform: translateX(-20vw);
    }
    to {
        filter: brightness(1);
        transform: translateX(0);
    }
}

.toHome .post-page {
    transition: all 0.5s ease-in-out;
    transform: translateX(100vw);
    z-index: 2;
}

.displayPost .post-page {
    display: block;
    opacity: 1;
}
.toPost .post-page {
    display: block;
    opacity: 1;
}
.post-page {
    display: none;
}

.toPost {
    overflow: hidden;
}

.toPost .main-container {
    opacity: 0;
}

a {
    text-decoration: none;
    color: var(--blue);
    position: relative;
}

.post-content a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--blue);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

nav {
    position: fixed;
    width: 100%;
    padding: 1rem min(3rem, 10vw);
    border-bottom: 1px solid var(--light-purple);
    background-color: #f2f4f88c;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    height: 4.5rem;
    justify-content: space-between;
    font-size: 1.3125rem;
    z-index: 1000;
    transition: all 0.3s;
    top: 0;
}
.displayPost nav > * {
    filter: invert(100%);
    /* filter: invert(100%) brightness(101%); */
}

/* .displayPost nav .title {
    color: #000;
    filter: invert(1);
} */
.nav-sticky nav > * {
    filter: none;
}
.displayPost nav {
    background-color: #22272e;
    border-color: rgba(205, 217, 229, 0.1);
}
.nav-sticky nav {
    background-color: #f2f4f88c;
    border-color: var(--light-purple);
}
nav > * {
    flex: 1;
}
.title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.title::after {
    display: none;
}
.title:hover img {
    transform: rotate(360deg);
}
.title img {
    height: 2rem;
    transition: transform 0.3s;
    display: block;
    margin-right: 0.6rem;
}

nav li {
    display: inline;
    margin-inline: 1rem;
}
nav ul {
    text-align: center;
}

nav a,
.home-page a {
    color: var(--black);
    cursor: pointer;
}

nav li a::after {
    width: calc(100% + 2rem);
    border-radius: 999px;
    height: 2.5rem;
    transform: none;
    opacity: 0;
    display: block;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transform-origin: center;
    transition:
        transform 0.3s,
        opacity 0.3s;
}
nav li a:hover {
    color: #fff;
    transition: color 0.3s;
}

nav li a:hover::after {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}
.recent-container {
    padding-top: 4.5rem;
    position: relative;
    background-color: var(--background-color);
}

nav label {
    cursor: pointer;
}

.right img,
footer img {
    transition: all 0.3s;
}

.right img:hover,
footer img:hover,
.about-links a:hover {
    scale: 1.1;
    transition: scale 0.3s;
}

nav input[type="checkbox"],
.code-toggle {
    display: none;
}

.search-page {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #33343560;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 1000;
    padding: min(2rem, 5vw);
}

.search-container {
    margin: 5rem auto 1rem;
    width: 100%;
    max-width: 30rem;
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 2rem min(1.6rem, 5vw) 1.3rem;
    max-height: calc(100vh - 10rem);
    position: relative;
    display: flex;
    flex-direction: column;
}

.search-container input {
    width: 100%;
    padding: 0 0.5rem 0.1rem 0.5rem;
    border: none;
    border-bottom: 2px solid var(--dark-purple);
    font-size: 1.2rem;
    outline: none;
    margin-top: 1rem;
    color: var(--dark-purple);
    font-weight: 500;
    font-family: inherit;
}

.search-results {
    overflow: hidden;
    overflow-y: auto;
    margin-top: 1rem;
}

.search-results a:first-child {
    margin-top: 0;
}

.search-results a {
    margin-top: 1rem;
    border: solid 2px var(--light-purple);
    padding: 1rem;
    color: var(--black);
    display: block;
    border-radius: 1rem;
    transition: background-color 0.3s;
}

.search-results a:hover {
    background-color: #dae1f891;
}
.search-results a:active {
    background-color: var(--light-purple);
}
.search-results p {
    font-size: 0.9rem;
}

.google {
    margin-top: 1rem;
    color: #444;
}

#search-toggle:checked ~ .search-page {
    pointer-events: all;
    opacity: 1;
}

.back {
    transform: rotate(180deg);
    transition: transform 0.3s;
    cursor: pointer;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    transition: scale 0.3s;
    width: 1.5rem;
}

.back:hover {
    scale: 1.1;
}

.back:active {
    scale: 1.2;
}

header {
    padding: 1.5rem;
    padding-top: 6rem;
}

.home-page header {
    display: flex;
    gap: 1rem;
}

.header-right {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#header-playground {
    flex: 1;
    position: relative;
    overflow: hidden;
    background-color: #1d1e22;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
    border-radius: var(--border-radius);
}

#header-playground,
.header-right {
    min-height: min(calc(100vh - 7.5rem), 35rem);
}

.header-categories,
.header-info,
.header-newPost {
    border: var(--border);
    border-radius: var(--border-radius);
}
.header-title {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #1d1e22;
    padding: 2rem 2rem 2rem 3rem;
    font-weight: 600;
    background: url("/static/img/headerTitleBg.svg") no-repeat top right / auto
        100%;
}
.header-title h1 {
    font-size: 3rem;
}
.header-title span {
    display: block;
    margin-left: 4rem;
}

.header-categories {
    /* 2x2grid */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1.1875rem;
    background-color: #fff;
    border-top: var(--border);
    border-radius: var(--border-radius);
}

.header-categories-item {
    display: flex;
    height: 4rem;
    gap: 1rem;
    align-items: flex-end;
    padding: 0.8rem;
    font-size: 1.125rem;
    border-radius: calc(var(--border-radius) / 30 * 19);
}
a.header-categories-item {
    color: #fff;
} /*
a.header-categories-item span {
    filter: invert(1);
} */
.header-categories .header-categories-item:first-child {
    background: #8fbcbb;
}

.header-categories .header-categories-item:nth-child(2) {
    background: #88c0d0;
}

.header-categories .header-categories-item:nth-child(3) {
    background: #81a1c1;
}

.header-categories .header-categories-item:last-child {
    background: #5e81ac;
}

.header-info {
    height: 100%;
    min-height: 8rem;
    background: url("https://raw.githubusercontent.com/emfont/emfont/main/og.png")
        no-repeat center center / cover;
    background-size: 100% auto;
    transition: background-size 0.3s;
    cursor: pointer;
    width: 100%;
}

.header-info:hover {
    background-size: 110% auto;
}

.header-newPost {
    height: 12.5rem;
    background-color: #fff;
    padding: 0.8rem;
    color: var(--black);
    position: relative;
    overflow: hidden;
}
.header-newPost h2 {
    padding: 0.5rem;
}
.header-newPost img {
    width: 100%;
    height: 8rem;
    border-radius: calc(var(--border-radius) / 30 * 17.2);
    object-fit: contain;
}

.header-newPost-hover {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #00000000, #000000);
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
    color: #fff;
    transition: opacity 0.3s;
}
.header-newPost:hover .header-newPost-hover {
    opacity: 1;
}
main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    max-width: var(--max-width);
    padding: 0 1rem;
    margin: 0 auto;
    line-height: 1.5;
}
section {
    flex: 1;
    width: calc(100% - min(50vw, 21rem));
}
.share,
.toc,
.recent,
.aside-tags,
#time,
.about,
.discord-join {
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    border: var(--border);
    padding: 1.6rem;
}
.about {
    padding: 1.75rem 1.6rem 0;
    background-color: #c5e0d5;
    border: none;
    overflow: hidden;
}

.about > .about-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.875rem;
    font-weight: 700;
}

.about-name img {
    height: 3.25rem;
}

.about-links {
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.6rem;
    margin-top: -0.5rem;
    margin-right: -3.5rem;
}
.about-links img {
    width: 1rem;
    filter: brightness(900%);
}
.about-links a {
    background-color: #77c8a7;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    margin-top: 2rem;
}

.about-links a.about-rarr:hover {
    scale: 1;
}

.about-links a.about-rarr {
    width: 6.3rem;
    height: 5.375rem;
    padding-left: 1.5625rem;
    margin-top: 0;
    justify-content: flex-start;
}
.about-rarr img {
    transition: transform 0.3s;
    width: 2rem;
}
.about-rarr:hover img {
    transform: translateX(0.5rem);
}

.about-rarr:active img {
    transform: translateX(2rem);
}

.share {
    display: flex;
    gap: 1rem;
    padding: 0.8rem 1.6rem;
    line-height: 1;
    align-items: center;
}

.share img {
    width: 1.2rem;
    cursor: pointer;
}

.toc ul {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    font-weight: 900;
}

.toc ul li::marker {
    color: rgba(139, 155, 204, 0.6);
}
.toc ul a {
    color: rgba(139, 155, 204, 0.6);
    transition:
        color 0.3s,
        font-size 0.3s;
}
.toc ul li a.current {
    color: rgba(139, 155, 204);
    font-size: 1.4rem;
    font-weight: 800;
}

.toc ul li:has(a.current)::marker {
    color: rgba(139, 155, 204);
}
.discord-join {
    color: var(--dark-purple);
    cursor: pointer;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    padding-block: 1rem;
    transition: all 1s;
    background: linear-gradient(253deg, #eef -7.84%, #dfdfff 105.14%);
}

.discord-join::after {
    width: 3rem;
    height: 10rem;
    background: linear-gradient(90deg, #ffffff00, #fff);
    position: absolute;
    top: -1rem;
    left: -5rem;
    content: "";
    transform: rotate(10deg);
    transition: all 1s;
}
.discord-join:hover {
    filter: brightness(104%);
}

.discord-join:hover::after {
    transform: rotate(10deg);
    left: 120%;
}
.discord-join p {
    max-width: 8rem;
    line-height: 1.4;
}

.discord-float {
    position: absolute;
    bottom: 0;
    right: 0;
}

.discord-join .discord-float:first-child {
    width: 2.95744rem;
    bottom: 2.85rem;
    right: 1.87rem;
    transform: rotate(-12.784deg);
}
.discord-join .discord-float:nth-child(2) {
    width: 1.52425rem;
    bottom: 1.78rem;
    right: 0.97rem;
    transform: rotate(16.041deg);
    filter: blur(1px);
}
.discord-join .discord-float:nth-child(3) {
    width: 1.21494rem;
    bottom: 0.36rem;
    right: 1.39rem;
    transform: rotate(-23.709deg);
    filter: blur(2px);
}

.categories {
    height: 3rem;
    border-radius: var(--border-radius);
    background: #fff;
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    font-size: 0.9rem;
    font-weight: 700;
}

#categories {
    display: flex;
    padding-inline: 2rem;
    align-items: center;
    gap: 2rem;
    width: 100%;
    white-space: nowrap;
    flex: 1;
    height: 100%;
    overflow-x: auto;
}

.categories-title {
    margin-bottom: 1rem;
    text-align: center;
}

.categories-right,
.categories-left {
    width: 2rem;
    height: 100%;
    background: url(/static/img/larr.svg) no-repeat center center / 30%;
    cursor: pointer;
}
.categories-right {
    transform: rotate(180deg);
}
.categories a {
    color: var(--black);
}

#posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
    align-items: stretch;
}

article a {
    color: var(--black);
    transition: color 0.3s;
}
article:hover h3 a {
    color: var(--blue);
}

article:hover .hero {
    background-size: auto 110%;
}
article {
    cursor: pointer;
    border-radius: 1.875rem;
    overflow: hidden;
    border: 1px #d2dee6 solid;
    display: flex;
    flex-direction: column;
}
article .hero {
    aspect-ratio: 120 / 63;
    background-repeat: no-repeat;
    width: 100%;
    background-color: #e8e8e8;
    background-size: auto 100%;
    background-position: center;
    transition: background-size 0.2s ease-in-out;
}

article .info {
    padding: 1.5rem;
    border-top: none;
    font-size: 0.8rem;
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.post-categories {
    font-weight: 600;
    margin-bottom: 0.2rem;
}
.tags {
    font-weight: 600;
}

.tags a {
    margin-right: 0.4rem;
}
.tags a::before {
    content: "#";
    margin-right: 0.15rem;
    color: #a1a1a1;
}

.info h3 {
    flex-grow: 1;
}

.info h3,
.recent h3 a {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

aside {
    width: min(50vw, 20rem);
}

.main-container {
    background-color: var(--background-color);
    position: relative;
    transition: opacity 0.3s;
}

.post-page aside {
    margin-bottom: 1rem;
    position: relative;
    z-index: 3;
}
.recent,
.aside-tags {
    color: var(--dark-purple);
    padding-bottom: 0;
}

.sticky {
    position: sticky;
    top: 5.5rem;
}

.recent {
    display: none;
}

.recent:has(h2) {
    display: block;
    padding: 1rem 0;
}

.recent h2,
.aside-tags h2 {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.recent h2 {
    margin: 0.6rem 0 0rem 1.6rem;
}

.recent h3 {
    padding: 0.8rem 1.6rem;
    position: relative;
    line-height: 1.2;
    margin: 0;
    transition: background-color 0.3s ease-out;
}

.recent h3::after {
    width: calc(100% - 3.2rem);
    content: "";
    display: block;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 1.6rem;
    border-bottom: 1px solid var(--dark-purple);
}

.recent h3:hover {
    background-color: #e8eeff;
}

.recent h3:last-child::after {
    display: none;
}
.recent a,
.aside-tags a {
    color: var(--dark-purple);
    font-weight: 500;
}

.aside-tags {
    max-height: 20rem;
    overflow: hidden;
    position: relative;
    /* transition: max-height 0.3s; */
    padding-bottom: 1.8rem;
}

#hideTags {
    display: none;
}

.code-toggle-label {
    width: 100%;
    cursor: pointer;
    position: relative;
    height: 1rem;
    display: block;
}

.hideTagsLabel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, #fff 30%, #fff0);
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    height: 3rem;
    z-index: 2;
}

.hideTagsLabel::after,
.code-toggle-label::after {
    content: "";
    position: absolute;
    bottom: 0.3rem;
    left: 0rem;
    width: 100%;
    background: url(/static/img/larr.svg) no-repeat center center / contain;
    pointer-events: none;
    height: 1.3rem;
    transform: rotate(270deg);
    filter: brightness(2);
    transition: bottom 0.3s;
}
.hideTagsLabel:hover::after,
.code-toggle-label:hover::after {
    bottom: 0rem;
}

.hideTagsLabel:hover::after,
.code-toggle-label:hover::after {
    bottom: 0rem;
}

body:has(#hideTags:checked) .aside-tags {
    max-height: 100%;
}

.code-block:has(.code-toggle-label) .highlight {
    max-height: 7.8rem;
    transition: max-height 0.3s;
}

.code-block:has(.code-toggle:checked) .highlight {
    max-height: 100%;
}

.code-toggle:checked + .code-toggle-label::after {
    transform: rotate(90deg);
}

body:has(#hideTags:checked) .aside-tags {
    max-height: 100%;
}
body:has(#hideTags:checked) .hideTagsLabel {
    background: transparent;
}
body:has(#hideTags:checked) .hideTagsLabel::after {
    transform: rotate(90deg);
}
.aside-tags > a {
    display: inline-flex;
    align-items: center;
    margin: 0 0.5rem 0.5rem 0;
    background-color: var(--light-purple);
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.aside-tags > a:hover {
    background-color: var(--dark-purple);
    color: #fff;
}
.aside-tags > a > div {
    display: inline-block;
    background-color: var(--dark-purple);
    border-radius: 1000px;
    color: #fff;
    font-size: 0.7em;
    font-weight: 400;
    padding: 0.1rem 0.3rem;
    margin-left: 0.3rem;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.aside-tags > a:hover > div {
    background-color: var(--light-purple);
    color: var(--dark-purple);
}

#time {
    padding-inline: 3rem;
    background-color: #d2d4d6;
    border: none;
    position: relative;
}

#time::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 5.1875rem;
    height: 5.1875rem;
    background: url("/static/img/clock.svg") no-repeat bottom right / contain;
}
#time h2 {
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}
#time p {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}
footer {
    max-width: var(--max-width);
    margin: 1rem auto;
    padding: 1rem;
}
.footer-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: var(--border-radius);
    border: var(--border);
    width: 100%;
    padding: 1.5rem;
    color: #545454;
    font-size: 0.9rem;
}
footer .logo {
    height: 4rem;
    margin-right: 1.5rem;
    filter: brightness(0) invert(91%) sepia(5%) saturate(1421%)
        hue-rotate(194deg) brightness(99%) contrast(96%);
}

.footer-text {
    flex: 1;
}
.footer-social {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.footer-social img {
    width: 1.375rem;
}

.copyright {
    margin-bottom: 0.3rem;
}

/* post page */

.post header {
    color: var(--white);
    position: relative;
}

.post header:has(.post-thumbnail[src=""])::before {
    height: calc(100% - 2rem);
}

.post header:has(.post-thumbnail[src=""]) {
    padding-bottom: 5rem;
}

.post header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 5rem);
    background: #22272e;
    animation: slideInTop 1s ease-in-out forwards;
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

figure img {
    max-width: min(650px, 100%);
    max-height: 450px;
    display: block;
    margin: 0 auto;
    width: auto;
    object-fit: contain;
    border-radius: 1rem;
    height: auto;
}

.header-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.header-categorie {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 1rem;
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
}

.header-categorie:hover {
    background: rgba(255, 255, 255, 0.3);
}

.header-tag {
    cursor: pointer;
    transition: color 0.3s;
    color: rgba(255, 255, 255, 0.7);
}

.header-tag:hover {
    color: rgba(255, 255, 255, 1);
}

.header-tag::before {
    content: "#";
    color: rgba(255, 255, 255, 0.4);
}

.post-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}
.meta {
    white-space: nowrap;
    display: flex;
    margin-right: 1.3rem;
}
.meta img {
    height: 1rem;
    display: inline-block;
    margin-right: 0.25rem;
}

.post-header {
    padding: 0 1rem;
    max-width: var(--max-width);
    margin: auto;
    z-index: 1;
    position: relative;
}
.post-header h1 {
    animation: spinIn 0.5s cubic-bezier(1, 0, 0, 1) forwards;
    transform-origin: bottom left;
    font-size: 2.5rem;
}
.post-thumbnail[src=""] {
    display: none;
}

.post-thumbnail {
    max-height: 550px;
    display: block;
    margin: 2rem auto;
    width: auto;
    max-width: min(980px, 100%);
    object-fit: contain;
    position: relative;
    min-height: 3rem;
    z-index: 2;
    border-radius: var(--border-radius);
}

.title-box {
    /* background-color: navajowhite; */
    overflow: hidden;
}

@keyframes spinIn {
    from {
        opacity: 0;
        transform: rotate(90deg);
    }
    to {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.post-container {
    background-color: #fff;
    border: var(--border);
    border-bottom: none;
    padding: 2rem;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.tldr {
    background-color: #f7f7f9;
    color: var(--dark-purple);
    border-radius: 1rem;
    border: var(--border);
    padding: 1rem;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.post-container .tldr h2 {
    font-size: 1.2rem;
    margin: 0 0 0.3rem 0;
}

.tldr > div {
    border-radius: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
.tldr > div::before {
    content: "TL;DR";
    display: block;
    color: rgba(126, 147, 212, 0.15);
    font-weight: 700;
    position: absolute;
    bottom: 0rem;
    line-height: 1;
    right: 0;
    font-size: 2rem;
}

.post-container p {
    margin-bottom: 2rem;
}

.post-container h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.post-container ul {
    padding-inline-start: 1.5rem;
}

.post-container ol {
    padding-inline-start: 1.5rem;
}
.post-container li {
    margin-bottom: 0.5rem;
}

.post-container li p {
    margin-bottom: 0;
}

.post-container h3 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.post-container h4 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

figure {
    margin-bottom: 3rem;
}

figcaption {
    text-align: center;
    color: var(--dark-purple);
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}
blockquote {
    position: relative;
    padding-left: 4rem;
    margin-bottom: 2rem;
    margin-top: -1rem;
    padding-top: 1rem;
}

blockquote > div {
    display: inline;
    font-size: 1.1rem;
    background: linear-gradient(0deg, #f6ffc2 50%, #fff 50%);
}
blockquote::before {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    background: url(/static/img/quote.svg) no-repeat center center / contain;
    position: absolute;
    left: 0;
    top: -0;
}

.code-block {
    background-color: #2e3440;
    position: relative;
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
    padding: 1.5rem 1.5rem 1.5rem 1rem;
}
.code-block:has(.code-toggle-label) {
    padding-bottom: 0;
}
.highlight {
    overflow: scroll;
    scrollbar-color: #d8dee94d transparent;
}

.code-block button {
    position: absolute;
    right: 1rem;
    top: 0.75rem;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    background: url(/static/img/copy.svg) no-repeat center center;
    background-size: 1.5rem 1.5rem;
    border: #d8dee94d 2px solid;
    color: transparent;
    border-radius: 0.8rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.code-block:hover button {
    opacity: 1;
}

.code-block button:hover {
    background:
        url(/static/img/copy.svg) no-repeat center center,
        #ffffff10;
    background-size: 1.5rem 1.5rem;
}

.code-block button:active {
    background:
        url(/static/img/copy.svg) no-repeat center center,
        #ffffff30;
    background-size: 1.5rem 1.5rem;
}

.ln {
    margin-right: 2rem;
    width: 1.5rem;
    display: inline-block;
    text-align: right;
}

.code-block::before {
    content: "";
    display: block;
    top: 1.5rem;
    position: absolute;
    left: 3.5rem;
    height: calc(100% - 3rem);
    width: 1.5px;
    background-color: #d8dee933;
}

.author-avatar {
    width: 3rem;
}

.admonition {
    background-color: #e6f6e6;
    border-radius: 0.4rem;
    padding: 1.5rem 2rem;
    border-left: 5px solid #77c8a7;
    margin-bottom: 2rem;
}

.admonition-header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.admonition-header::before {
    content: "";
    display: inline-block;
    width: 1.5rem;
    margin-right: 0.2rem;
    height: 1.5rem;
    background: url(/static/img/bolt.svg) no-repeat center center / contain;
}

.author-container {
    margin-top: 4rem;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    text-align: center;
    padding: -0 1.5rem 1.5rem 1.5rem;
}
.friends {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    gap: 1rem;
}
a.friend {
    color: var(--black);
}
a.friend:hover {
    color: var(--blue);
}
a.friend::after {
    display: none;
}
.post-container .friends figure {
    margin-bottom: 0;
    flex-shrink: 0;
}

.post-container .friend h3,
.post-container .friend p {
    margin: 0;
}

.post-container .friend figcaption {
    display: none;
}
.friend {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    text-align: center;
    display: flex;
    align-items: center;
    max-width: 20rem;
    padding: 1rem;
    text-align: left;
    font-size: 0.9rem;
}
.friend img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    margin-right: 1rem;
}

.friend div {
}

.author-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-top: -2rem;
}
.author-social {
    margin-bottom: 0.2rem;
}
.author-social img {
    filter: brightness(0) invert(66%) sepia(33%) saturate(384%)
        hue-rotate(188deg) brightness(88%) contrast(86%);
    height: 1rem;
    margin-inline: 0.2rem;
}

.author-container h3 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.author-container p {
    color: var(--dark-purple);
    margin-bottom: 1rem;
}
.author-copyright {
    font-size: 0.9rem;
}
.post-tags {
    margin-top: 3rem;
    position: relative;
}

.post-tags::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 0;
    width: 1.25rem;
    height: 0.3125rem;
    background-color: #808080;
}
.post-tags a::after {
    display: none;
}

.post-tag {
    display: inline-block;
    padding: 0.2rem 1rem;
    border-radius: 999px;
    border: 1px solid #b7bfc7;
    margin-left: 0.5rem;
    cursor: pointer;
    color: #000;
}

.post-tag:hover {
    background-color: #f2f4f8;
}

.post-tag:active {
    background-color: #e8e8e8;
}

.post-tag::before {
    content: "#";
    color: #707070;
}
.related-posts h2 {
    margin-bottom: 1.5rem;
}

.related-posts {
    position: relative;
    margin-top: -1rem;
    padding: 2rem;
    flex: 0 0 100%;
    width: 100%;
    line-height: 1.5;
    background-color: #fff;
    border: var(--border);
    border-radius: 0 var(--border-radius) var(--border-radius)
        var(--border-radius);
}
.related-posts > div {
    display: flex;
    overflow-x: auto;
    width: 100%;
    gap: 1rem;
}

.related-posts article {
    flex-shrink: 0;
    width: 15rem;
}

.related-posts-container {
    display: flex;
    width: 100%;
    gap: 2rem;
    overflow-x: auto;
}
.related-posts-container article {
    flex-shrink: 0;
}

.related-posts::before,
.related-posts::after,
.related-posts-container::before {
    content: "";
    position: absolute;
}
.related-posts::before {
    top: calc(0rem - var(--border-radius));
    right: calc(min(50vw, 20rem) - var(--border-radius) / 2 + 1px);
    background-color: #fff;
    width: var(--border-radius);
    height: var(--border-radius);
}
.related-posts::after {
    right: var(--border-radius);
    top: -10rem;
    height: 10rem;
    background-color: var(--background-color);
    border: var(--border);
    border-top: none;
    border-right: none;
    width: calc(min(50vw, 20rem) - var(--border-radius) / 2 + 1px);
    border-bottom-left-radius: var(--border-radius);
}

.related-posts-container::before {
    top: -1px;
    left: -0px;
    width: calc(100% - min(50vw, 20rem) - 1rem);
    height: 1px;
    background-color: #fff;
}

.continue {
    max-width: calc(var(--max-width) - 2rem);
    margin-top: 2rem;
    padding-left: 1rem;
}
.continue,
.next-post {
    margin: 1rem auto;
}
.next-post {
    position: relative;
    /* overflow will kill sticky */
    /* use js instead */
    margin: auto;
    border-radius: var(--border-radius);
    border: var(--border);
    width: 100%;
    height: 100%;
    --scale: 1;
    overflow: unset;
    border: none;
}
.next-post .post {
    scale: var(--scale);
    transform-origin: top left;
    width: var(--scaleWidth);
}

.next-post header::before {
    animation: unset;
}

.post {
    transform-origin: top center;
    background-size: 100vw 50px;
}

.next-post .post header {
    padding-top: 7rem;
}

.notice {
    border-radius: 0.4rem;
    padding: 1.2rem;
    border-left: 4.8px solid #009400;
    background: #e6f6e6;
    color: #003100;
    margin-bottom: 1rem;
}

.post-container .notice > * {
    margin-bottom: 0.5rem;
}

.notice > *:first-child {
    font-weight: bold;
    margin-top: 0;
}
.notice > *:first-child::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.1em;
    background: url(/static/img/bolt.svg) no-repeat center center / contain;
}
@media (max-aspect-ratio: 5/4) {
    aside,
    .related-posts::before,
    .related-posts::after,
    .related-posts-container::before {
        display: none;
    }

    .related-posts {
        border-top-right-radius: 0;
    }
    nav ul,
    .right > * {
        display: none;
    }
    .right {
        flex: 0;
    }
    .right label {
        display: block;
    }

    .post-header h1 {
        font-size: 1.5rem;
    }
    .footer-text {
        order: 1;
        flex: 0 0 100%;
    }
    #header-playground {
        flex: 0 0 100%;
        height: 100svh;
        border-radius: 0;
    }
    .home-page header {
        flex-wrap: wrap;
        padding: 0 0 1.5rem 0;
    }
    .header-right {
        height: unset;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-inline: 1rem;
    }
    .header-right > * {
        flex: 1;
    }
    .header-categories,
    .header-info,
    .header-newPost {
        min-width: 20rem;
    }
}

.aos[data-aos="fade-up"] {
    opacity: 0;
    transform: translateY(2rem);
    transition:
        opacity 0.3s,
        transform 0.3s;
}

.aos[data-aos="fade-up"].ed {
    opacity: 1;
    transform: translateY(0);
}

strong {
    font-weight: 700;
    color: var(--dark-purple);
}

.match {
    color: var(--dark-purple);
    margin-top: 0.5rem;
    font-size: 0.8em;
    margin-bottom: -0.2rem;
}
