<!doctype html>
<html lang="zh-Hant">
    <head>
        <title>找不到頁面 | 毛哥EM資訊密技</title>
        {{meta}}
        <link rel="stylesheet" href="/static/style.css" />
        <style>
            body {
                min-height: 100svh;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            main {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                text-align: center;
            }
        </style>
    </head>
    <body>
        {{nav}}
        <main>
            <h1>找不到頁面</h1>
            <p>
                你說你不想在這裡 我也不想在這裡
                <br />於是轉身向<a href="/">首頁</a>走去
                <br />
                -- 《草東沒有頁面》
            </p>
            <div class="code">
                <pre>404 Not Found</pre>
            </div>
        </main>
        {{footer}}
        <script></script>
        <!-- <script src="/static/script.js"></script> -->
    </body>
</html>
