<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>毛哥EM資訊密技</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="/static/nord.css" />
    </head>
    <body class="">
        {{nav}}
        <div class="main-container post-page">{{post}}</div>
        <div class="main-container home-page">{{home}}</div>
        {{footer}}
        <script src="/static/script.js"></script>
    </body>
</html>
