<!doctype html>
<html lang="zh-Hant">
    <head>
        <title>毛哥EM資訊密技</title>
        {{meta}}
        <meta name="description" content="發明、技術文章與科技教學。" />
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="/static/nord.css" />
        <meta name="og:title" content="毛哥EM資訊密技" />
        <meta name="og:url" content="https://emtech.cc" />
        <meta name="og:image" content="https://emtech.cc/static/img/og.webp" />
        <meta name="og:description" content="發明、技術文章與科技教學。" />
        <script type="application/ld+json">
            {
                "@context": "https://schema.org/",
                "@type": "Organization",
                "image": "https://emtech.cc/static/img/EMprofile.png",
                "url": "https://emtech.cc/",
                "logo": "https://emtech.cc/static/img/EMprofile.png",
                "name": "毛哥EM資訊密技",
                "alternateName": ["emtech"],
                "description": "發明、技術文章與科技教學。",
                "email": "info@elvismao.com",
                "contactPoint": {
                    "@type": "ContactPoint",
                    "email": "info@elvismao.com"
                },
                "foundingDate": "2021-06-04",
                "numberOfEmployees": {
                    "@type": "QuantitativeValue",
                    "value": 1
                },
                "sameAs": ["https://www.instagram.com/emtech.cc/"],
                "potentialAction": {
                    "@type": "SearchAction",
                    "target": {
                        "@type": "EntryPoint",
                        "urlTemplate": "https://emtech.cc/search?q={search_term_string}"
                    },
                    "query-input": "required name=search_term_string"
                }
            }
        </script>
        <script src="https://font.emtech.cc/emfont.js"></script>
    </head>
    <body class="emfont-LINESeedTW">
        {{nav}}
        <input type="checkbox" id="hideTags" />
        <div class="main-container post-page"></div>
        <div class="main-container home-page">{{home}}</div>
        {{footer}}
        <script src="/static/script.js"></script>
    </body>
</html>
