<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>emtech</title>
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <nav>
            <div class="title">
                <img src="/static/img/logo.svg" alt="" />
                毛哥EM資訊密技
            </div>
            <ul>
                <li><a href="/post">文章</a></li>
                <li><a href="/series">專欄</a></li>
                <li><a href="/about">關於</a></li>
            </ul>
            <div class="right">
                <a href="" target="_blank"></a>
                <a href="" target="_blank"
                    ><img src="/static/img/dice.svg" alt="隨機文章"
                /></a>
                <a href="" target="_blank"
                    ><img src="/static/img/github.svg" alt="GitHub"
                /></a>
                <a href="" target="_blank"
                    ><img src="/static/img/instagram.svg" alt="Instagram"
                /></a>
                <label for="search-toggle"></label>
                <input type="checkbox" id="search-toggle" />
                <a href="" target="_blank"
                    ><img src="/static/img/search.svg" alt="Search"
                /></a>
                <input type="text" placeholder="搜尋" />
            </div>
        </nav>
        <div class="main-container">
            <header>
                <div id="header-playground">
                    <div class="header-title">
                        <h1>毛哥EM<span>資訊密技</span></h1>
                    </div>
                </div>
                <div class="header-right">
                    <div class="header-categories">
                        <a href="" class="header-categories-item">軟體分享</a
                        ><a href="" class="header-categories-item">軟體分享</a
                        ><a href="" class="header-categories-item">軟體分享</a
                        ><a href="" class="header-categories-item">軟體分享</a>
                    </div>
                    <div class="header-info"></div>
                    <a href="">
                        <div class="header-newPost">
                            <h2>最新文章</h2>
                            <img src="/static/img/thumbnail.webp" alt="" /></div
                    ></a>
                </div>
            </header>
            <main>
                <section>
                    <div id="categories">
                        <a href="/categories/心得" data-categories="心得"
                            >心得</a
                        ><a
                            href="/categories/活動心得"
                            data-categories="活動心得"
                            >活動心得</a
                        ><a
                            href="/categories/軟體分享"
                            data-categories="軟體分享"
                            >軟體分享</a
                        ><a href="/categories/筆記" data-categories="筆記"
                            >筆記</a
                        ><a href="/categories/教學" data-categories="教學"
                            >教學</a
                        ><a
                            href="/categories/網站分享"
                            data-categories="網站分享"
                            >網站分享</a
                        ><a
                            href="/categories/製作教學"
                            data-categories="製作教學"
                            >製作教學</a
                        ><a
                            href="/categories/別說我教的"
                            data-categories="別說我教的"
                            >別說我教的</a
                        ><a
                            href="/categories/科技新聞"
                            data-categories="科技新聞"
                            >科技新聞</a
                        ><a href="/categories/debug" data-categories="debug"
                            >debug</a
                        ><a
                            href="/categories/API 分享"
                            data-categories="API 分享"
                            >API 分享</a
                        ><a
                            href="/categories/捷徑分享"
                            data-categories="捷徑分享"
                            >捷徑分享</a
                        >
                    </div>
                    <div id="posts">
                        <article>
                            <div
                                class="hero"
                                style="
                                    background-image: url('/static/img/thumbnail.webp'),
                                        linear-gradient(
                                            135deg,
                                            #fd7ce1,
                                            #00e69b,
                                            #00e99a
                                        );
                                "
                            ></div>
                            <div class="info">
                                <div class="categories">軟體分享</div>
                                <h3>
                                    <a href="/posts/MultiWall"
                                        >【MultiWall】讓不同螢幕放不同桌布</a
                                    >
                                </h3>
                                <p>
                                    但是有了MultiWall，你不但可以幫不同的螢幕設定不同的桌布，還可以讓一張背景橫跨多個桌布來達到延伸的效果。
                                </p>
                                <div class="tags">
                                    <a href="/categories/軟體分享">軟體分享</a>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div
                                class="hero"
                                style="
                                    background-image: url('/static/img/thumbnail.webp'),
                                        linear-gradient(
                                            135deg,
                                            #fd7ce1,
                                            #00e69b,
                                            #00e99a
                                        );
                                "
                            ></div>
                            <div class="info">
                                <div class="categories">軟體分享</div>
                                <h3>
                                    <a href="/posts/MultiWall"
                                        >【MultiWall】讓不同螢幕放不同桌布</a
                                    >
                                </h3>
                                <p>
                                    但是有了MultiWall，你不但可以幫不同的螢幕設定不同的桌布，還可以讓一張背景橫跨多個桌布來達到延伸的效果。
                                </p>
                                <div class="tags">
                                    <a href="/categories/軟體分享">軟體分享</a>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div
                                class="hero"
                                style="
                                    background-image: url('/static/img/thumbnail.webp'),
                                        linear-gradient(
                                            135deg,
                                            #fd7ce1,
                                            #00e69b,
                                            #00e99a
                                        );
                                "
                            ></div>
                            <div class="info">
                                <div class="categories">軟體分享</div>
                                <h3>
                                    <a href="/posts/MultiWall"
                                        >【MultiWall】讓不同螢幕放不同桌布</a
                                    >
                                </h3>
                                <p>
                                    但是有了MultiWall，你不但可以幫不同的螢幕設定不同的桌布，還可以讓一張背景橫跨多個桌布來達到延伸的效果。
                                </p>
                                <div class="tags">
                                    <a href="/categories/軟體分享">軟體分享</a>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div
                                class="hero"
                                style="
                                    background-image: url('/static/img/thumbnail.webp'),
                                        linear-gradient(
                                            135deg,
                                            #fd7ce1,
                                            #00e69b,
                                            #00e99a
                                        );
                                "
                            ></div>
                            <div class="info">
                                <div class="categories">軟體分享</div>
                                <h3>
                                    <a href="/posts/MultiWall"
                                        >【MultiWall】讓不同螢幕放不同桌布</a
                                    >
                                </h3>
                                <p>
                                    但是有了MultiWall，你不但可以幫不同的螢幕設定不同的桌布，還可以讓一張背景橫跨多個桌布來達到延伸的效果。
                                </p>
                                <div class="tags">
                                    <a href="/categories/軟體分享">軟體分享</a>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div
                                class="hero"
                                style="
                                    background-image: url('/static/img/thumbnail.webp'),
                                        linear-gradient(
                                            135deg,
                                            #fd7ce1,
                                            #00e69b,
                                            #00e99a
                                        );
                                "
                            ></div>
                            <div class="info">
                                <div class="categories">軟體分享</div>
                                <h3>
                                    <a href="/posts/MultiWall"
                                        >【MultiWall】讓不同螢幕放不同桌布</a
                                    >
                                </h3>
                                <p>
                                    但是有了MultiWall，你不但可以幫不同的螢幕設定不同的桌布，還可以讓一張背景橫跨多個桌布來達到延伸的效果。
                                </p>
                                <div class="tags">
                                    <a href="/categories/軟體分享">軟體分享</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
                <aside>
                    <div class="about">
                        <div class="about-name">
                            <img src="/static/img/EMprofile.png" alt="" />
                            毛哥EM
                        </div>
                        <p>一位喜歡把簡單的事，做得不簡單的高三生。</p>
                        <div class="about-links">
                            <a href=""
                                ><img
                                    src="/static/img/github-uwu.svg"
                                    alt="" /></a
                            ><a href=""
                                ><img
                                    src="/static/img/instagram.svg"
                                    alt="" /></a
                            ><a href=""
                                ><img src="/static/img/rarr.svg" alt=""
                            /></a>
                        </div>
                    </div>
                    <div class="github-join">
                        <h2>遇到問題嗎?</h2>
                        <p>歡迎加入 Discord 與我們一起討論</p>
                    </div>
                    <div class="recent">
                        <h2>近期瀏覽</h2>
                    </div>
                    <div class="featured">
                        <h2>精選文章</h2>
                    </div>
                    <div class="tags">
                        <h2>標籤</h2>
                    </div>
                </aside>
            </main>
        </div>
        <footer>
            <p>&copy; 2024 emtech</p>
        </footer>
    </body>
</html>
