<!doctype html>
<html lang="zh-Hant">
    <head>
        <title>隨機文章 | emtech</title>
        {{meta}}
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="/static/nord.css" />
    </head>
    <body class="toPost">
        {{nav}}
        <input type="checkbox" id="hideTags" />
        <div class="main-container post-page"></div>
        <div class="main-container home-page">{{home}}</div>
        {{footer}}
        <script src="/static/script.js"></script>
    </body>
</html>
